{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>🔐 Смена пароля для пользователя {{ user.username }}</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}<div class="invalid-feedback d-block">{{ field.errors }}</div>{% endif %}
                    </div>
                {% endfor %}
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Изменить пароль</button>
                    <a href="{% url 'users:user_list' %}" class="btn btn-outline-secondary">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}